on:
  workflow_run:
    workflows: ["ci"]
    types:
      - completed

jobs:
  Deploiement:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Récupération du code
        uses: actions/checkout@v3
      - name: Déploiement vers GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .

      - name: Déploiement du runner
        run: |
          mkdir -p ~/Github/tpgautt/www
          cp -r . ~/GitHub/tpgautt/www